body{
    background-color: cadetblue;
}
section {
    width: 420px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
}
input:checked + label{
    color: #A3A0B5;
    text-decoration: line-through;
    transition: all .1s ease-in;
}